@import "tailwindcss";

@layer base {  
  :root {
    background-color: rgb(2, 62, 135);
  }
}

@layer components {
  .gameboard-container {
    @apply border-2 border-white flex items-center justify-center;
  }

  .gameboard-container {
    @apply shadow-lg;
    background-color: rgb(5, 48, 135);
  }

  .player-container {
    @apply flex flex-col items-center justify-center gap-8;
  }

  .player-name {
    @apply text-3xl font-bold text-gray-300 text-shadow-black text-shadow-xs;
  }

  .player-ships {
    @apply border-2 border-white shadow-lg;
  }

  .player-ship-cell {
    @apply border-gray-500 border w-12 h-12 flex justify-center items-center text-white text-xl;
  }

  .board-row {
    @apply flex flex-row;
  }

  .board-cell {
    @apply border border-gray-500 w-12 h-12;
  }
}